html {
    position: relative;
    min-height: 100%;
  }
body {
    background-image:url('images/market.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.navbar{
    width: 103%;
    padding-bottom: 1%;
    opacity: .85;
    margin-bottom: 20px;

}
.navbar-brand{
    color:#eace6a;
}

 #search-container{
    padding: 0px;
    margin: 0px;
}  

.jumbotron {
    background-color: black;
    padding: 10px;
    margin-top: 5px;
}

.card-header {
    background-color: black;
    color: #eace6a;
}
#logo {
    height: 150px;
    text-align: left;

}
h1 {
    font-size: 30px;
    text-align: right;
    color: #eace6a;
    font-weight: bolder;
}
h2 {
    font-size: 15px;
    text-align: right;
    color: #eace6a;
    font-style: italic;
}

h4{
    font-size: 20px;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#marketTimer{
    border: white solid 1px;
}

#login-div{
    float: right;
    padding: 0px;
}

#logout {
    display:none;
}
#signInModal{
    display: none;
}
#signUpModal{
    display: none;
}
#signinmodal-btn{
    float: right;
    margin-right: 5%;
}
#signupmodal-btn{
    float: right;
}

#favs{
    margin-top: 3%;
}

#history{
    margin-top: 3%;
}

#home-button{
    color:#eace6a;
    margin-left: 10px;
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    line-height: 0.15em;
    opacity: .75;
    width: 100%;
    height: 60px;
    font-size: 12px;
}

#Welcome {
    color:white;
}

a { 
    color: rgb(240, 245, 226); 
    text-decoration:none;
    
}

#Current-new-table{
    overflow-y: scroll;
}

.txtcol{
    color: rgb(240, 245, 226);
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}

.dropdown-toggle {
    border: 1px rgb(208, 255, 0) solid
}
.fa {
    color: #CCCC00;
}

.navbarstyling{
    background-color: #eace6a;
    font-weight: bold;
}

#stockslisted,.colbold{
    color: black;
    font-weight: bold;
}

.btncol{
    background-color: rgb(34, 66, 25);
    font-weight: bold;
    color: white;
}

#clear-history{
    float: right;
    cursor: pointer;
}

.margins{
    margin-left: 30px;
    margin-right: 30px;
}

.float-right{
    float: right;
}

#margins{
    margin-bottom: 100px;
}

.newslinks{
    color: rgb(240, 245, 226);
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}

#login-button{
    color: #CCCC00;
    background: rgb(0, 0, 100);
    border: rgb(0, 0, 202);
    padding: 5px;
    border-radius: 5%;
    cursor: pointer;
    margin: 5px;
    width: 80px;
}

#new-account{
    color: #CCCC00;
    background: rgb(0, 0, 100);
    border: rgb(0, 0, 202);
    padding: 5px;
    border-radius: 5%;
    cursor: pointer;
    margin: 5px;
    width: 80px;
}

#logout-button{
    color: rgb(0, 0, 255);
    border: 2px rgb(0, 0, 255) solid;
    padding: 5px;
    border-radius: 5%;
    cursor: pointer;
    display: none;
    margin: 0;
}

#new-account:hover, #login-button:hover{
    background: rgb(0, 0, 153);
}

#logout-button:hover{
    background: rgb(0, 0, 255);
    color: white;
}

#user-input{
    margin-left: 40px;
    display: none;
}

#add-button, #history-button{
   display: none;
}

#hide{
    visibility: hidden;
}

#login-signup{
    float: left;
}

#login-screen{
    padding-bottom: 150px;
}

@media screen and (max-width: 575px){

    #login-screen{
        width: 80%;
    }

}